* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* debug */

/* .debug .container {
    border: 1px solid red;
}

.debug [class*="col-"] {
    background: pink;
    border: 1px solid blue;

    padding: 5px;
}

.debug [class*="col-"] > .container {
    border: none;
}

.debug [class*="col-"] > .container [class*="col-"] {
    background-color: lightcoral;
    border: 1px solid white;
} */

/* FRAMEWORK GENERICO */

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.container::after {
    content: '';
    display: table;
    clear: both;
}

[class*="col-"] {
    float: left;    
}

/* framework */

.col-1 {
    width: calc(100% / 12);
}
.col-2 {
    width: calc((100% / 12) * 2);
}
.col-3 {
    width: calc((100% / 12) * 3);
}
.col-4 {
    width: calc((100% / 12) * 4);
}
.col-5 {
    width: calc((100% / 12) * 5);
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: calc((100% / 12) * 7);
}
.col-8 {
    width: calc((100% / 12) * 8);
}
.col-9 {
    width: calc((100% / 12) * 9);
}
.col-10 {
    width: calc((100% / 12) * 10);
}
.col-11 {
    width: calc((100% / 12) * 11);
}
.col-12 {
    width: 100%
}

/* cellulari e piccoli devices */
@media all and (max-width: 768px) {
    .col-xs-1 {
        width: calc((100% / 12) * 1);
    }
    .col-xs-2 {
        width: calc((100% / 12) * 2);
    }
    .col-xs-3 {
        width: calc((100% / 12) * 3);
    }
    .col-xs-4 {
        width: calc((100% / 12) * 4);
    }
    .col-xs-5 {
        width: calc((100% / 12) * 5);
    }
    .col-xs-6 {
        width: calc((100% / 12) * 6);
    }
    .col-xs-7 {
        width: calc((100% / 12) * 7);
    }
    .col-xs-8 {
        width: calc((100% / 12) * 8);
    }
    .col-xs-9 {
        width: calc((100% / 12) * 9);
    }
    .col-xs-10 {
        width: calc((100% / 12) * 10);
    }
    .col-xs-11 {
        width: calc((100% / 12) * 11);
    }
    .col-xs-12 {
        width: calc((100% / 12) * 12);
    }
}

/* tablet */
@media all and (min-width: 768px) and (max-width: 992px) {
    .col-md-1 {
        width: calc((100% / 12) * 1);
    }
    .col-md-2 {
        width: calc((100% / 12) * 2);
    }
    .col-md-3 {
        width: calc((100% / 12) * 3);
    }
    .col-md-4 {
        width: calc((100% / 12) * 4);
    }
    .col-md-5 {
        width: calc((100% / 12) * 5);
    }
    .col-md-6 {
        width: calc((100% / 12) * 6);
    }
    .col-md-7 {
        width: calc((100% / 12) * 7);
    }
    .col-md-8 {
        width: calc((100% / 12) * 8);
    }
    .col-md-9 {
        width: calc((100% / 12) * 9);
    }
    .col-md-10 {
        width: calc((100% / 12) * 10);
    }
    .col-md-11 {
        width: calc((100% / 12) * 11);
    }
    .col-md-12 {
        width: calc((100% / 12) * 12);
    }
}

/* desktop and large devices */
@media all and (min-width: 992px) {
    .col-lg-1 {
        width: calc((100% / 12) * 1);
    }
    .col-lg-2 {
        width: calc((100% / 12) * 2);
    }
    .col-lg-3 {
        width: calc((100% / 12) * 3);
    }
    .col-lg-4 {
        width: calc((100% / 12) * 4);
    }
    .col-lg-5 {
        width: calc((100% / 12) * 5);
    }
    .col-lg-6 {
        width: calc((100% / 12) * 6);
    }
    .col-lg-7 {
        width: calc((100% / 12) * 7);
    }
    .col-lg-8 {
        width: calc((100% / 12) * 8);
    }
    .col-lg-9 {
        width: calc((100% / 12) * 9);
    }
    .col-lg-10 {
        width: calc((100% / 12) * 10);
    }
    .col-lg-11 {
        width: calc((100% / 12) * 11);
    }
    .col-lg-12 {
        width: calc((100% / 12) * 12);
    }
}
